@import './libs/normalize';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap:10px;
  grid-row-gap: 20px;

  padding: 40px;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  @media (max-width: 855px){
    grid-template-columns: repeat(3, 1fr);

  }
  @media (max-width: 655px){
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:50px;

  }

  @media (max-width: 450px){
    grid-template-columns: repeat(1, 1fr);

  }


}

.title{
  margin: 50px 0px;
}

.film__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 15px 5px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &-image{
      width: 100%;
      max-width: 200px;
      margin-bottom: 20px;
    }

    &-title{
      margin-bottom: 20px;
    }

    &-description{
      margin-bottom: 20px;
    }
  
}

.comment{
  margin-bottom: 50px;

  p{
    color: rgb(147, 147, 147);
    word-break:break-all;
  }
}

input{
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

button{
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}